// Breaks
$break-mobile: 576px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-desktop-xl: 1200px;

// Sizes
$size-mobile: 540px;
$size-tablet: 720px;
$size-desktop: 960px;
$size-desktop-xl: 1140px;