.dialog-content {
    margin-bottom: 24px;
}

.header-row,
.buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row {
    margin-bottom: 15px;

    .mat-dialog-title {
        margin-bottom: 0;
    }
}